@import 'var.scss';

#checkout {
  .order-status {
    width: 100%;

    p {
      align-items: center;
      background: transparant;
      border-radius: 4px;
      color: #fff;
      display: none;
      font-weight: bold;
      height: 100%;
      justify-content: center;
      margin-bottom: 0;
      overflow: hidden;
      padding: 15px;
      width: 100%;

      &.success {
        background: $green;
        display: flex;
      }

      &.empty {
        background: #ff9000;
        display: flex;
      }

      &.error {
        background: #f00;
        display: flex;
      }
    }
  }

  form.checkout-form {
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}
