#checkout .order-status {
  align-items: center;
  background: transparant;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms ease;
  transition: background-color 500ms ease;
  width: 100%;
}

#checkout .order-status.success, #checkout .order-status.error, #checkout .order-status.empty {
  max-height: 100px;
}

#checkout .order-status.success {
  background: #afd275;
}

#checkout .order-status.success p.success {
  display: block;
}

#checkout .order-status.error {
  background: #f00;
}

#checkout .order-status.error p.error {
  display: block;
}

#checkout .order-status.empty {
  background: #ff9000;
}

#checkout .order-status.empty p.empty {
  display: block;
}

#checkout .order-status p {
  color: #fff;
  display: none;
  font-weight: bold;
  margin-bottom: 0;
  padding: 15px;
}

#checkout form.checkout-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
