#footer {
  min-height: 300px;
  width: 100%;
  background-color: #e7717d;
  border-top: 10px solid #7e685a;
  display: flex;
  align-items: flex-end;
}

#footer #bottom-bar {
  height: 50px;
  width: 100%;
  background: #afd275;
}
