@import 'var.scss';

html, body {
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

#background-images {
  position: absolute;
  z-index: 0;

  .item {
    background-color: rgba(231, 113, 125, 0.1);
    border-radius: 50%;
    position: absolute;

    &.item-1 {
      width: 600px;
      height: 600px;
      top: -200px;
      left: -100px;
    }
  }
}

#home-page {
  a.btn.btn-lg.btn-block {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Varela Round';
  }
}

@media screen and (max-width: $break-mobile) {

}

@media screen and (max-width: $break-tablet) {

}
