@import 'var.scss';

.shop-grid {
  // display: flex;

  .row {
    display: flex;
    margin-bottom: 30px;

    .card {
      min-width: 30%;
      background-color: $blue;

      &:not(:last-child) {
        margin-right: 5%;
      }

      img {
        height: 300px;
        object-fit: cover;
        background-color: #fff;
      }

      .card-body {
        .card-subtitle {
          color: $pink;
          font-weight: bold;
        }

        .card-text {
          min-height: 120px;
        }

        a.btn {
          width: 49%;
        }
      }
    }
  }
}
