@import '../../css/order_status.scss';

#orders {
  .btn-show-order {
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }

  .order {
    display: none;

    .order-info {
      .btn-warning {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -5px;
      }
    }
  }

  .btn-close-all {
    position: fixed;
    left: 1%;
    bottom: 1%;
  }
}
